* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container .a_header {
    color: #fff;
    background-color: #0aaaaa;
    display: flex;
    justify-content: center;
}

.container .a_header .a_header_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 1vh 1vw;
}

.container .a_header .a_header_1 .a_header_profile .profile {
    max-width: 10vw;
    max-height: 10vh;
}

.container .a_header .a_header_1 .a_header_menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;

}








.container .a_main {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .a_main .a_main_write {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container .a_main .a_main_write .a_main_write_1 {
    margin-top: 2vh;
}

.container .a_main .a_main_write .a_main_write_1 .a_main_write_1_url {
    background-color: #eee;
    color: #666666;
    border-radius: 5px;
    padding: 1vh 10vw;
}

.container .a_main .a_main_write .a_main_write_1 .shareimg {
    max-width: 3vw;
    max-height: 3vh;
}








.container .a_main .a_main_write .a_main_write_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .a_main .a_main_write .a_main_write_2 .a_main_write_2_txt {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container .a_main .a_main_write .a_main_write_2 textarea {
    border: 0;
    background-color: #eee;
    color: #666666;
    border-radius: 5px;
    margin-top: 2vh;
    padding: 10px;
    width: 80vw;
    height: 20vh;
}

.container .a_main .a_main_write .a_main_write_2 .a_main_write_2_button {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container .a_main .a_main_write .a_main_write_2 input {
    border: 0;
    background-color: #0aaaaa;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    height: 4vh;

    padding: 1vh 5vw; /* 위 | 오른쪽 | 아래 | 왼쪽 */
    margin: 2vh 1vw; /* 위 | 오른쪽 | 아래 | 왼쪽 */
}


.container .a_main .main_button {
    display: flex;
    text-align: center;
    width: 100%;
    margin-top: 2vh;
    height: 4vh;
}

.container .a_main .main_button .main_button1 {
    background-color: #0aaaaa;
    color: #fff;
    width: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .a_main .main_button .main_button2 {
    background-color: #fff;
    color: #0aaaaa;
    width: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}






.container .a_main .main_list {
    margin-top: 2vh;

}


.container .a_main .main_list tr {
    background-color: #fff;
}

.container .a_main .main_list tr td {
    padding: 10px;
}

.container .a_main .main_list tr td a {
    display : block;
    width: 100%;
    height: 100%;
    color: #666666;
    text-decoration: none;
}

.container .a_main .main_list .main_list_img {
    max-width: 35px;
    max-height: 35px;
}










.container .a_footer {
    background-color: #0aaaaa;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .a_footer a {
    color: #fff;
}

.container .a_footer .a_footer_answer .a_footer_answer_img {
    max-width: 50px;
    max-height: 50px;

}

.container .a_footer .a_footer_profile .a_footer_profile_img {
    max-width: 60px;
    max-height: 60px;

}

.container .a_footer .a_footer_notice .a_footer_notice_img {
    max-width: 50px;
    max-height: 50px;

}